@import './mixin.scss';

@mixin baseWrapTit() {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  .tit{
    font-size: 21px !important;
    margin-top: 70px;
  }
}
.app {
  .pc {
    display: block !important;
  }
  .mb {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  
  .app {
    .pc {
      display: none !important;
    }
    .mb {
      display: block !important;
    }

    // ---------- 头部 -------------
    .head{
      header{
        height:60px;
        .warp{
          >img.logo{
            width: 160px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 0px;
          }
          .countryselect {
              margin-top: 15px;
              margin-right: 20px;
          }
          .navbar{
            width: 100%;
            position: absolute;
            top: 60px;
            background: #fff;
            z-index: 1000;
            line-height: 50px;
            text-align: center;
            border-bottom: 1px solid #666;
            border-top: 1px solid #ccc;
          }
        }

      }      
      
    }

    // ----------- 尾部 --------------
    .foot{
      footer{
        overflow: hidden;
        height: 200px;
        padding-top: 30px;
        box-sizing: border-box;
        .footMain{
          width:100%;
          margin-top: -20px;
          margin-bottom: 20px;
          .lianxi{
            float: none;
            display: block;
            margin: 0 auto;
            width: 230px;
            margin-top: 20px;
          }
        }
        .art{
          width: 90%;
          margin-left: 5%;
        }
      }
      
      
    }

    // ----- 登录 -------
    .login{
      .warp{
        .loginBox {
          position: absolute;
          width: 90%;
          top: 0px;
          height: 480px;
          top: 100px;
          left: 5%;
        }
      }
      .purbtn {
        width: 100% !important;
      }
      
    }
    // ----- 登录结束 -------
    
    // ----- 注册开始 ------
    .regist{
      .accountwarp{
        width:100% !important;
        .left{
          .center{
            margin-left: 0;
          }
        }
      }
    }
    // ----- 注册结束 ------
    
    // --------- 主页 ------
    .home{
      .warp{
        .top{
          .headertitle{
            padding-left: 0px;
            font-size: 28px;
          }
          .pupradio{
            float: initial;
            margin-left: 30px;
            margin-top: 20px;
          }
          
        }
        .partleft {
          float: initial;
          box-sizing: border-box;
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
          .art{
            padding-left: 20px;
            width: auto;
            padding-right: 20px;
            font-size: 16px;
            margin-left: 5%;
          }
        }
        .btnbox{
          width: 90%;
          margin-left: 5%;
        }
      }
      .gupao{
        padding:0;
      }
      .trading{
        margin-top: 80px;
        height:700px;
        .headertitle{
          text-align: center !important;
        }
        .imgboxs {
          height: 280px;
          .pcpng {
            width: 90%;
            position: initial;
            right: 0px;
            opacity: 1;
            margin-top: 30px;
          }
        }
      }
      .navbanner{
        z-index: 10;
        height:auto;
        .title{
          font-size: 20px;
          margin-top: 40px;
          line-height: 40px;
        }
        .btn{
          margin-top: 40px;
        }
      }
      .indSch{
        .center{
          width: 90%;
          margin:3rem auto 0;
          ul{
            li{
              float: left;
              width: 48%;
              margin-right:4%;
            }
            li:first-child{
              width: 100%;
              color:red;
              margin: 0 auto 3rem;
              img{
                width:100%;
              }
            }
            li.schCen{
              span{
                display: inline-block;
                font-size: 1.2rem;
                line-height: 1.8rem;
                color: #767678;
              }
              p.linTop{
                width: 3rem;
                height: 0.5rem;
                background-color: #5b0eb2;
                margin: 4rem 0 1rem;
              }
              p.con{
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: #333333;
              }
              p.three{
                font-size: 1.2rem;
                color: #5b0eb2;
                margin: 5rem 0 1rem;
              }
              p.linBot{
                width: 1rem;
                height: 2.5rem;
                background-color: #5b0eb2;
              }
            } 
            li.rigLi{
              margin-right:0;
              p{
                font-size: 2rem;
                color: #989898;
                line-height: 2.5rem;
                font-weight: 900;
                span{
                  display: block;
                  color: #5b0eb2;
                }
                h6{
                  font-size: 2rem;
                  color: #000;
                  margin: 3rem 0 1rem;
                }
              }
            } 
          } 
        }
      
      } 
 
      .schBot{
        width: 100%;
        height: 6rem;
        background:url(../public/images/sch/indBotBgA.jpg) no-repeat;
        background-size: 100%;
        .center{
          width: 90%;
          margin:0 auto;
          p.fl{
            font-size: 0.8rem;
            color: #fff;
            line-height: 1.5rem;
            margin-top:4%;
            width: 49%;
          }
          div.fl{
            margin-left: 24%;
            p{
              width: 1.5rem;
              height: 1.5rem;
              line-height: 1.5rem;
              color: #fff;
              border: 2px solid #fff;
              margin: 28% 0 6%;
              text-align: center;
              font-weight: 900;
            }
            span{
              font-size: 1.2rem;
              color: #fff;
              font-weight: 900;
            }
            a{
              color: #fff;
            }
          }
        }
      }

      .step,.warp{
        width:100%;
        .headertitle {
          padding-left: 0px;
          font-size: 28px;
          text-align: center !important;
        }
        .stepbox {
          ul{
            li{
              width: 100%;
              float: none;
              margin-top: 30px;
            }
          }
          .radio{
            margin: 0 auto;
          }
        }
      }
      .payway,.warp{
        width:100%;
        .headertitle {
          width: 100%;
          text-align: center;
        }
        .paywaybox{
          ul{
            li{
              width: 33.3%;
              margin-bottom: 20px;
            }
          }
        }
      }
    }


    // ------关于我们开始 -------
    .about {
      width: 100%;
      margin-top: 0px;
      padding-bottom: 30px;
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      .bannertips {
        width: 100% !important;
        margin-left: 0 !important;
        height: auto;
        margin-top: 0px;
        padding-bottom: 30px;
        .aboutli {
          width: 100%;
          ul {
            flex-direction: column;
            li{
              float: none;
              width:90%;
              align-items: center;
            }
          }
        }
      }
      .tradestep{
        >.tit{
          width: 100%;
          text-align: center;
          font-size: 20px;
        }
      }
      .btnbox{
        margin-top: 40px !important;
      }
      .aboutart {
        .tit {
          font-size: 21px !important;
        }
      }
      .tradestep{
        .stepbox{
          width: 100%;
          ul{
            li{
              width:50%;
              p{
                font-size: 14px;  
                height: 70px;
              }
            }
          }
        }
      } 
    }
    // ------关于我们开始 -------

    // ------资金安全开始 -------
    .safty{
      .warp{
        width: 100%;
        .tit{
          margin-top: 60px;
          font-size: 22px !important;
        }
        .art {
          width: 90%;
          margin-left: 5%;
        }
      }
      .bottombg {
        height: auto;
        padding-bottom: 80px;
        .fh{
          font-size: 100px;
        }
        .tits{
          font-size: 13px;
          span{
            font-size: 18px;
          }
        }
      }
      .accounticons{
        ul{
          li {
            width: 100%;
          }
        }
      } 
      .bottomline {
        text-align: center;
        height: auto;
        padding-bottom: 1px;
        overflow: hidden;
        padding-top: 20px;
        p {
          float: none;
          font-size: 16px;
          line-height: 30px
        }
        .yelbtn {
          float: none;
          margin: 20px auto;
        }
      }
    }

    // ------资金安全结束 -------

    // ------ 交易平台开始 -------
    
    .mt4 {
      >div {
        width: 100%;
      }
      .bar {
        img {
          width: 80%;
          margin-left: 10%;
        }
      }
      .trading {
        >div {
          width: 90%;
          margin-left: 5%;
        }
        >a .downbtn {
          width: 90%;
          margin-left: 5%;
        }
        .headertitle {
          font-size: 28px !important;
          margin-bottom: 25px !important;
        }
        .imgboxs{
          height: 280px;
          .pcpng{
            width: 90%;
            position: initial;
            right: 0px;
            opacity: 1;
            margin-top: 30px;
          }
        }
      }
      .downloadtit {
        font-size: 28px !important;
        margin-bottom: 20px;
      }
      .macdown {
        height: unset !important;
        width: 100% !important;
        .leftimg {
          width: 100%;
          margin-left: 0;
          height: unset;
        }
        .downinfo {
          width: 90%;
          p {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
          }
          >a {
            width: 100%;
            .garybtn {
              width: 100%;
              .downfont {
                p {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .androiddown {
        background: unset;
        .warp {
          width: 90%;
          .downinfo {
            p {
              text-align: center;
            }
            a {
              .garybtn {
                width: 100%;
              }
            }
          }
        }
        .bg {
          display: block;
        }
      }
      .que {
        .tit {
          font-size: 21px !important;
        }
        .art {
          width: 90%;
          margin-left: 5%;
        }
      }
      .anq {
        padding: 20px 0;
        dd {
          width: calc(100% - 80px);
          margin: 0 auto;
          padding: 20px;
        }
      }
    }
    .leverage {
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      .tablelist {
        .headers {
          p {
            font-size: 18px !important;
          }
        }
      }
    }
    .account {
      >div {
        width: 100%;
      }
      .name {
        line-height: 30px;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .table {
        margin-top: 50px;
        .header {
          span {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
    .clearpro {
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      .mb{
        >img{
          margin-top:0;
        }
      }
      >.wrap {
        .tit {
          font-size: 21px !important;
          text-align: center !important;
          margin-top: 30px;
        }
        .clearproinfo {
          width: 100%;
          >div {
            width: 100%;
          }
          >img {
            width: 100%;
          }
        }
      }
    }
    .cpt {
      .big-img {
        .center {
          padding: 5% 0 5%;
        }
      }
      >div:not(.big-img) {
        width: 90%;
        margin-left: 5%;
      }
      .introduction {
        width: 90%;
        margin: 5%;
        .center {
          width: 100%;
          .intCon {
            .fl {
              width: 50%;
            }
            .fr {
              width: 50%;
            }
          }
        }
      }
      .functi {
        .top {
          width: 100%;
        }
        .bot {
          .tabs {
            width: 100%;
          }
        }
      }
      .tabs {
        .navList {
          width: 50%;
        }
        .fr {
          width: 50%;
          .cont {
            img {
              width: 100%;
            }
          }
        }
      }
      .web {
        .webTop {
          width: 100%;
        }
      }
      .ctPc {
        .center {
          width: 100%;
        }
      }
      .ios {
        .center  {
          width: 100%;
        }
      }
      .android {
        .center {
          width: 100%;
          display: flex;
          .fl {
            width: 66%;
            margin: 3% 0 0 3%;
            >img {
              width: 14%;
            }
            h3 {
              font-size: 39px;
              color: #000000;
              text-align: center;
              font-family: LTCH;
              margin-bottom: 68px;
            }
            p {
              font-size: 18px;
              line-height: 35px;
              color: #171717;
              font-family: LTH;
            }
            >.btn {
              height: unset;
            }
          }
        }
      }
      .trading {
        margin-top: -10px;
        .center {
          width: 100%;
          margin-bottom: 50px;
        }
      }
    }
    .cptanq {
      >div:not(.img) {
        width: 90%;
        margin-left: 5%;
      }
      .img {
        h3 {
          font-size: .5em;
        }
      }
    }
    .man {
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      .banner {
        height: unset;
      }
      .warp {
        .tit {
          font-size: 21px !important;
        }
      }
    }
    .compare{
      .img{
        width: 100%;
        background-size: 100%;
        .center{
          width: 90%;
          margin: 0 auto;
          color: #ffffff;
          padding: 5% 0 6%;
          box-sizing: border-box;
          h6{
            font-family: FZLTZHK;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
          }
          p{
            font-family: Light;
            width: 380px;
            margin: 14px auto 0;
            font-size: 14px;
          }
        }
      }
      .conTab{
        .center{
          width: 90%;
          margin: 20px auto 20px;
          div.mt4,div.ctrader{
            box-shadow: 0.5rem 0.5rem 0.5rem #fbfbfb, 0.5rem -0.5rem 0.5rem #fbfbfb, -0.5rem 0.5rem 0.5rem #fbfbfb, -0.5rem -0.5rem 0.5rem #fbfbfb;
            h3{
              font-size: 22px;
              color: #000000;
              text-align: center;
              padding-top: 48px;
            }
            .mtCon{
              width: 100%;
              height:660px;
              position: relative;

              >.fl{
                width: 47%;
                margin: 32px 0 0 3%;
                position: absolute;
                top:0;
                left:0;
                p.title{
                  color: #0e0e0c;
                  font-size: 18px;
                  font-family: SEMIBOLD;
                  line-height: 2rem;
                  font-weight: 900;
                  
                }
                ul{
                  margin: 2rem 0 0 1.5rem;
                  li{
                    margin-top: 1.8rem;
                    width: 290px;
                    img{
                      margin-top: 0.8%;
                    }
                    p{
                      font-size: 16px;
                      color: #313131;
                      font-family: LTH;
                      
                    }
                  }
                }
              }
              >.fr{
                width: 45%;
                height:auto;
                margin: 0 5% 0 0;
                position: absolute;
                top:37px;
                right:0;
                img{
                  width: 100%;
                }
              }
            } 
          }
          div.ctrader{
            .mtCon{
              height:982px;
            }
          }
        }
      }
    }
    // ------ 产品交易开始 -------
    // 产品交易公共部分
    >div {
      >.title {
        font-size: 24px;
        line-height: 60px;
        margin-top: 10px;
      }
      .mobbaner{
        width:100%;
      }
      >.exp {
        display: block;
        height: auto;
        width: 100%;
        background: #fff;
        position: relative;
        .leftimg {
          width: 100%;
          margin-left: 0;
          display: block;
          background: #f8f7f7;
          >img {
            position: relative;
            display: block;
            margin: 0 auto;
          }
        }
        .content {
          margin-left: 5%;
          margin-top: 30px;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: 24px;
            margin: 0px 0 0 15%; 
            line-height: unset;
            position: relative;
          }
          .line {
            float: none;
            margin: 20px 0 0 15%;
            position: relative;
          }
          .text {
            width: auto;
            padding: 0;
            margin: 10px 0 0 0;
          }
          .space {
            display: none;
          }
          >div {
            position: relative;
          }
        }
      }
    }
    .products {
      
      .banner {
        height: auto;
        .title {
          margin-top: 1em;
          font-size: 2em;
        }
        .desc {
          font-size: 1.5em;
        }
        .list-wrap{
          .item {
            white-space: nowrap;
            img {
              width: 60%;
            }
          }
        }
      }
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      .imgbox {
        .partleft, .partrights {
          width: 100%;
          margin-left: 0;
          >div {
            filter: grayscale(0%);
            float: none;
            width: 100%;
            margin-top: 0;
            margin-bottom: 2em;
            margin-left: 0;
            height: unset;
            .info {
              opacity: 1;
            }
          }
        }
      }
      .part1{
        .info {
          span{
            margin-top: 60px !important;
          }
        }
      } 
      .choose {
        .tit {
          font-size: 1.5em;
          margin-top: 1em;
        }
        .choiceicon {
          width: 100%;
          margin-top: 2em;
          margin-bottom: 2em;
          >ul {
            flex-direction: column;
            li {
              margin-bottom: 2em;
            }
          }
        }
      }
    }
    .foreign{ // 外汇
      .choose {
        margin-top: 0;
        height: 570px;
        >div {
          width: 100%;
          height: 500px;
          margin-top: 90px;
          .loop {
            margin: 0;
            @include full();
            .bg1 {
              @include full();
              top: -130px;
              left: 0;
              >div {
                @include full();
                border: none;
                animation: none;
                @include flex(center, center, column);
                z-index: 1;
                position: absolute;
                span {
                  animation: none;
                  position: relative;
                  left: unset;
                  right: unset;
                  top: unset;
                  bottom: unset;
                  top: unset;
                  background: transparent;
                  line-height: 30px;
                  margin-bottom: 10px;
                  margin-top: 5px;
                  font-size: 14px;
                  br {
                    display: none;
                  }
                }
              }
            }
            .fenche {
              z-index: 0;
              position: absolute;
              opacity: .2;
              overflow: hidden;
              img {
                animation: none;
                width: 100%;
                left: unset;
                top: unset;
                margin-left: unset;
              }
              .gan {
                display: none;
              }
            }
          }
        }
      }
    }
    .metal {
      .warp{
        width:100%;
        .leftimg{
          width: 100%;
          float: none;
          margin-left: 0px;
        } 
        .floatfont{
          float: none;
          width: 90%;
          margin-left: 5%;
          .title {
            font-size: 24px;
            position: relative;
            margin:20px 0;
            line-height: 34px;
            text-align: left;
          }
          .line{
            float: none;
            margin: 20px;
            position: relative;
          }
          .text{
            float: none;
            width: 100%;
            margin-top: 20px;
            padding: 0;
          }
        }
      }
      
      .choose {
        width: 100%;
        .tit {
          font-size: 21px !important;
          margin-top: 30px;
        }

        .clearfix {
          width: 100%;
          .melaleft {
            width: 90%;
            margin-left: 5%;
          }
          .melaright {
            width: 100%;
            .purfont{
              
              float: none !important;
              text-align: center;
              width:100%!important;
            }
            a{
              display: block;
            }
          }
          
          .melacenter {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .oil {
      .choose {
        width: 100%;
        margin-top: 20px;
        h1 {
          font-size: 21px !important;
          font-weight: 500;
        }
        .clearfix {
          display: flex;
          flex-direction: column;
          .rightimg {
            width: 100%;
          }
        }
      }
    }
    .conctrat {
      >.wrap {
        width: 90%;
        margin-top: 20px;
        margin-left: 5%;
        .artleft {
          .tit {
            font-size: 21px !important;
          }
          
        }
        .imgright {
          width: 100%;
          float: none;
        }
      }
      .how {
        width: 90%;
        margin-left: 5%;
        .tit {
          font-size: 21px !important;
        }
      }
    }
    .tradeindex {
      >.wrap {
        @include baseWrapTit();
      }
      .choose {
        height: unset;
        width: 100%;
        margin-bottom: 0;
        .imgcen {
          width: 100%;
          margin-bottom: 50px;
        }
        .part:nth-child(1) {
          display: none;
        }
        .part {
          float: none;
          margin: 0 auto;
        }
      }
    }
    .currency {
      .wrap {
        @include baseWrapTit();
        .currencyimg {
          ul {
            @include flex(center, center, column);
            li {
              margin-left: 0 !important;
              margin-right: 0 !important;
            }
          }
        }
      }
    }
    // .products{
    //   .mobbaner {
    //     width: 100%;
    //     display: block;
    //   }
    //   .products .bottomline {
    //     text-align: center;
    //     height: auto;
    //   }
    //   .warp{
    //     width:100%;  
    //   }
    //   .tit{
    //     font-size: 22px !important;
    //   }
    //   .imgbox{
        
    //   }
    // }
    // 注册组件开始
    .apply{
      text-align: center;
      height: auto;
      .registerWrap {
        p{
          float: none;
          display: inline-block;
        }
        .btn{
          float: none;
          margin: 10px auto;
        }
      }
      
    }

    // 注册组件结束
    

    // ------ 产品交易结束 -------

    // ------ 白标开始 ------- 
    .white{
      .bannerimg {
        width: 100%;
        height: auto;
      }
      .tit{
        font-size: 21px;
      }
      .warp{
        padding:0 15px;
      }
      .art{
        line-height: 40px;
      }
      .anlist{
        margin-top: 40px;
        ul li{
          width: 100%;
        }
      }
      .bottomtips{
        margin-top: 40px;
        margin-bottom: 60px;
      }
     
    }
    // ------ 白标结束------

    // ------ API开始------
    .api{
      .bannerimg {
        width: 100%;
        height: auto;
      }
      .tit{
        font-size: 21px;
        margin-top:50px;
      }
      .warp{
        padding:0 15px;
      }
      .art{
        line-height: 32px;
      }
      .iconlist{
        margin-top: 0px;
        ul{
          margin-top: 40px;
        }
        ul li {
          display: block;
          float: none;
          width: 100%;
          
          &:nth-child(5){
            margin-left: 0px;
          }
          p{
            margin-top: 20px;
          }
        }
      }
     
    }
    // ------ API结束------
    // ------ 流动性供应商开始------
    .provider{
      .bannerimg {
        width: 100%;
        height: auto;
      }
      .tit{
        font-size: 21px;
        margin-top:50px;
      }
      .warp{
        padding:0 15px;
      }
      .art{
        line-height: 32px;
      }
      .leftart{
        width: auto;
        float: none;
      }
      .lastart{
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }
    // ------ 流动性供应商结束------
    // ------ IB开始------
    .IB{
      .bannerimg {
        width: 100%;
        height: auto;
      }
      .tit{
        font-size: 21px;
        margin-top:50px;
      }
      .warp{
        padding:0 15px;
      }
      .art{
        line-height: 32px;
      }
      .sixtype{
        margin-top: 80px;
        line-height: 40px;
      }
      .anlist{
        margin-top: 60px;
        padding:0 ;

        ul li{
          width: 100%;
          height:40px;
          padding-left: 0;
          float:none;

          p{
            width: 87%;
          }
        }
      }
    }
    // ------ IB结束------
    // ------ 金融学院开始------
    .bigImg {
      width: 100%;
      height:auto;
      background: url(../public/images/sch/bigImgP.jpg) no-repeat;
      background-size: 100%;
    }
    .bigImg .center {
      width: 80%;
      margin: 0 auto;
      padding: 10% 0 7%;
      text-align: center;
      color: #fff;
    }
    .bigImg .center h6 {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
    }
    .bigImg .center p {
      font-size: 0.8rem;
      width: 8rem;
      line-height: 2rem;
      background-color: #5b0eb2;
      margin: 0.8rem auto 0;
      border-radius: 1.8rem;
     }
  .bigImg .center p a{
    color:#fff;
  }
  .center>h3{
		font-size: 1.5rem;
		color: #000000;
		text-align: center;
	}
	.center>p.titCon{
		font-size: 0.4rem;
		color: #606060;
		text-align: center;
		margin: 0.8rem auto 2rem;
	}
  /*探索CPT cTrader交易学院*/
	.search{
		width: 100%;
		background-color: #f9f9f9;
	}
	.search .center{
		width: 98%;
		margin: 0 auto;
		padding: 11% 0 ;
	}
	.search .center>ul li{
		float: left;
		width: 28%;
	}
	.search .center>ul li p{
		width: 100%;
		line-height: 2.2rem;
		text-align: center;
		border:1px solid #222222;
		border-radius: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700
  }
  .search .center>ul li p a{
		color: #222222;
  }
	.search .center>ul li p:hover{
		background-color: #5b0eb2;
		color: #fff;
		border:1px solid #5b0eb2;
		cursor: pointer;
	}
	.search .center>ul li p:hover a{
		color: #fff;
	}
	.search .center>ul li span{
		font-size: 0.6rem;
		line-height: 1rem;
		color: #7f7f7f;
		text-align: center;
		display: inline-block;
		margin: 0.4rem auto 0;
	}
	.search .center>ul li.line{
		width: 0.1rem;
		height: 1.2rem;
		background-color: #222222;
		margin: 1.5% 3% 0 4%;
		display: block;
	}
	/*视频中心*/
	.video .center{
		width: 91%;
		margin: 11% auto 5%;
		font-family:LTHK;
	}
	
	.video .center>.vidCon>div.fl{
		width: 66%;
		overflow: hidden;
	}
	.video .center>.vidCon .conBot>.fl{
		width: 70%;
	}
	.video .center>.vidCon .botTit{
		font-size:0.7rem;
	    color: #0d0d0d;
	    margin: 1rem 0 1rem;
	    margin-left: 4%;
	}
	.video .center>.vidCon .botTitCon{
		display: inline-block;
		font-size: 0.7rem;
		color: #a2a2a2;
		margin-left: 4%;
	}
	.video .center>.vidCon p.num{
		font-size: 2rem;
		color: #e0e0e0;
		line-height: 4rem;
        margin-right: 3%;
	}
	.video .center>.vidCon>div.fl{
		float: left;
        width: 79%;
        margin:0 10%;
	}
	.video .center>.vidCon>ul.fr li{
		float: left;
	    width: 48%;
    	margin: 5% 2% 0 0;
	}
	.video .center>.vidCon>div.fl,.video .center>.vidCon>ul li{
		overflow: hidden;
	}
	.video .center>.vidCon>div.fl>a>img,.video .center>.vidCon>ul li img{
		width: 100%;
		cursor: pointer;
		transition: all 0.6s;
	}
	.video .center>.vidCon>div.fl:hover>a>img,.video .center>.vidCon>ul li:hover img{
		transform: scale(1.05);
	}
	.video .center>p.btnMore{
		font-size: 0.8rem;
		color: #222222;
		width: 8.8rem;
		line-height: 2rem;
		text-align: center;
		border:1px solid #222222;
		border-radius: 0.8rem;
		margin: 2rem auto 6rem;
	}
	.video .center>p.btnMore a{
		color: #222222;
	}
	/*知识库*/
	.know .center{
		width: 97%;
		margin: 0 auto;
	}
	.know .center>ul.basis li{
		float: left;
		width: 50%;
	}
	.know .center>ul.basis li.line{
	    width: 2.4rem;
	    height: 0.1rem;
	    background-color: #5b0eb2;
		margin: 0.8rem 1rem 0 0.5rem;
		display: block;
	}
	
	.know .center>ul.basis li.liCen p.top{
		font-size: 1.1rem;
		margin-bottom: 1.2rem;
		color: #000;
	}
	.know .center>ul.basis li.liCen p.con{
		font-size: 0.8rem;
		line-height: 1.5rem;
    color: #707070;
    text-align:justify;
	}
	.know .center>ul.basis li.liImg{
		width: 28%;
	}
	.basis li.liImg img{
		margin: 3.5rem 0 0 1rem;
	    width: 75%;
	}
	.know .center>ul.liConWord{
		width: 92%;
		margin:3rem auto 5rem;
	}
	.know .center>ul.liConWord li {
		float: left;
		width: 45%;
		margin: 0 5% 2rem 0;
		border-top:1px solid #ececec;
	}
	.know .center>ul.liConWord li p.schooltit{
		color: #000000;
		font-size: 1rem;
		padding:1rem 0;
	}
	.know .center>ul.liConWord li p.titCon{
		color: #8c8c8c;
		font-size: 0.6rem;
		margin-bottom:1.5rem;
	}
	.know .center>ul.liConWord li p.schcontent{
		color: #000000;
		font-size: 0.6rem;
	}
	.know .center>ul.liConWord li p.schcontent span.fr{
		margin-right: 15%;
		display: none;
	}
	.know .center>ul.liConWord li:hover{
		border-top:1px solid #5b0eb2;
	}
	.know .center>ul.liConWord li:hover p.schcontent span.fr{
		display: inline-block;
	}
	.know .center>ul.liConWord li:hover p.schcontent span a{
		color: #5b0eb2;
	}
	.know .center>ul.advanced{
		width: 95%;
		margin: 3rem auto 1rem;
	}
	.know .center>ul.advanced li{
		float: left;
	}
	.know .center>ul.advanced li img{
		width: 100%;
	}
	.know .center>ul.advanced li:last-child{
		width: 100%;
		margin: 0.4rem 0 0 0rem;
	}
	.know .center>ul.advanced li p.schooltit{
		font-size: 1.1rem;
	}
	.know .center>ul.advanced li p.line{
		width: 5rem;
		height: 0.1rem;
		background-color: #5b0eb2;
		margin: 0.5rem 0 0.3rem;
	}
	.know .center>ul.advanced li p.con{
		font-size: 0.8rem;
		line-height: 1.4rem;
		color: #707070;
	}
	.know .center>p.dian{
		font-size: 1.8rem;
		line-height: 1rem;
		color: #5b0eb2;
		text-align: center;
	}
	.know .center>ul.list li{
		float: left;
		width: 31%;
		height: 8.2rem;
		margin: 2rem 1% 0;
		color: #fff;
	}
	.know .center>ul.list li a{
		color: #fff;
	}
	.know .center>ul.list li.one{
		background:url(../public/images/sch/kno1.png) no-repeat;
	}
	.know .center>ul.list li.two{
		background:url(../public/images/sch/kno2.png) no-repeat;
	}
	.know .center>ul.list li.three{
		background:url(../public/images/sch/kno3.png) no-repeat;
	}
	.know .center>ul.list li.four{
		background:url(../public/images/sch/kno4.png) no-repeat;
	}
	.know .center>ul.list li.five{
		background:url(../public/images/sch/kno5.png) no-repeat;
  }
  .know .center>ul.list li p.top{
		font-size: 1.2rem;
		padding: 1rem 0 0 1.8rem;
	}
	.know .center>ul.list li p.cen{
		width: 90%;
	    font-size: 0.6rem;
	    line-height: 1rem;
	    margin: 0.8rem 0 0.1rem 1rem;
	}
	.know .center>ul.list li.three p.cen,.know .center>ul.list li.four p.cen{
		margin: 0.8rem 0 -0.2rem 1.2rem;
	}
	.know .center>ul.list li p.bot{
		margin-left:80%;
	}
	.know .center>ul.list li:hover{
		background:url(../public/images/sch/know.png) no-repeat;
	}
	/*A-Z*/
	.az>.center{
		width: 82%;
		margin:5rem auto;
	}
	.az .center>div.schooltit .eng{
		font-size: 1rem;
		color: #333333;
		font-style:italic;
		margin: 0.2rem 0 0 1rem;
	}
	.az .center>div.schooltit .chi{
		font-size: 1.2rem;
		color: #000000;
	  font-weight: 800;
		border-bottom: 1px solid #000;
		width: 71%;
    	margin-left:9%;
	}
	.az>.center>ul{
		width: 100%;
	    margin: 1.83rem 0.5rem 0 0;
		border:1px solid #e8e9ed;
		border-right:none;
		border-bottom:none;
	}
	.az>.center>ul>li{
		font-weight: 900;
		float:left;
		width: 10.4%;
		height: 1.02rem;
		font-size: 0.5rem;
		color: #c9c9c9;
		text-align: center;
		line-height: 1.02rem;
		border-right:2px solid #e8e9ed;
		font-family:ALB;
		border-bottom:1px solid #e8e9ed;
	}
	.az>.center>ul>li a{
		color: #c9c9c9;
	}
	.az>.center>ul>li:first-child a{
		color: #000;
	}
	.az>.center>.con{
		margin:1rem 0.33rem 3rem 0;
	}
	.az>.center>.con>p.fl{
		font-family:ALB;
		font-size: 3rem;
		color:#5b0eb2;
		font-style:italic;
	}
	.az>.center>.con>div.fr{
	    width: 16rem;
	    font-size: 0.47rem;
	    line-height: 1.5rem;
		color: #333333;
	}
	.az>.center>.con>div.fr>p{
		margin-top:0.88rem;
		line-height: 1.5rem;
	}
	/*网络讲座*/
	.teaTit .center{
		width: 83%;
		margin: 8% auto;
	}
	.teaBg{
		display: none;
	}
	.teaBgPh{
		width: 100%;
		background:url(../public/images/sch/teaBg.jpg) no-repeat;
	}
	.teaBgPh .center{
		width: 80%;
		margin: 0 auto;
		padding:5% 0 4%;
	}
	.teaBgPh .center>div.botDiv{
		border:1px solid #f9f9f9;
		padding:2rem 1.8rem 1.5rem;
	}
	.teaBgPh .center>div.botDiv>*{
		margin-left:1.5rem;
	}
	.teaBgPh .center>div.botDiv>img{
		width: 85%;
	}
	.teaBgPh .center>div.botDiv p.sec{
		font-size: 0.5rem;
		margin: 0.3rem 0 0.7rem 1.5rem ;
		color: #fffefc;
		font-family:LTHK;
	}
	.teaBgPh .center>div.botDiv .cenWord p{
	    font-size: 2rem;
	    color: #fffefc;
	    margin: 0 0 0.5rem 2rem;
	}
	.teaBgPh .center>div.botDiv .cenWord p span{
		display: block;
		font-size: 0.5rem;
        line-height: 1.2rem;
	}
	.teaBgPh .center>div.botDiv>p.bot{
		font-size: 2.8rem;
		color: #fffefc;
	}
	.teaBgPh .center>div.botDiv>p.bot span{
		font-size: 2.8rem;
	}
	.teaBgPh .center>div.topDiv{
		position: relative;
		right:5%;
		top:20%;
	}
	.teaBgPh .center>div.topDiv>img{
	    width: 67%;
    	margin-left: 7%;
	}
	.teaBgPh .center>div.topDiv p.fl{
		font-size: 1.1rem;
		color: #fffefc;
		writing-mode:tb-rl;
		position: absolute;
		right: 7%;
		top: 63%;
	}
	.teaBgPh .center>div.topDiv p.fr{
		font-size: 0.5rem;
		color: #c5c5c5;
		writing-mode:tb-rl;
		margin-top: 18%;
	}
	.teaCon{
		width: 94%;
		margin: 0% auto 10%;
	}
	.teaCon>div.fl>p.name{
		font-size: 2.5rem;
		color: #8b8b8b;
		margin-top:2rem;
	}
	.teaCon>div.fl>p.line{
		width: 5.5rem;
		height: 0.3rem;
		background-color: #5b0eb2;
		margin-bottom: 0.5rem;
	}
	.teaCon>div.fl>p.eng{
		font-size: 1.8rem;
    color: #5b5b5b;
    
	}
	.teaCon>div.fr{
		width: 98%;
	}
	.teaCon>div.fr>p.line{
		width: 3rem;
		height: 0.1rem;
		background-color: #4a4a4a;
		margin: 1rem 0rem;
	}
	.teaCon>div.fr>p.con{
		font-size: 0.8rem;
		color: #606060;
		line-height: 1.5rem;
  } 
  @media (max-width:320px){
    .know .center>ul.liConWord li {
      width: 48%;
      margin: 0 2% 2rem 0;
    }
    .know .center>ul.liConWord li p.schooltit{
      font-size: 0.8rem;
    }
    .know .center>ul.list li{
      width: 47%;
    }
    .az>.center>.con>div.fr{
      width: 13rem;
    }
  }
    // ------ 金融学院结束------
    // ------ 外汇交易术语A-Z开始------
  .azacontent{
    padding:0 15px;
  }
    // ------ 外汇交易术语A-Z结束------

    // ------ 联系我们开始------
    .contantus{
      .tit{
        font-size: 21px;
        margin-top:50px;
      }
      .contantbox .warp{
        padding:0 15px;
        width: auto;
      }
      .art{
        line-height: 32px;
      }
      .contantbox .pur .lianxisd{
          display: block;
     
       > div {
        display: block;
        width: 90%;
        float:none;
        padding-left: 20%;
        margin-bottom: 20px;
        img{
          float:left;
          margin-right: 10px;
        }
        span{
          float:left;
          font-size: 14px;
        }
      }
      }
      
    }
    // ------ 联系我们结束------


    .apply {
      width: 100% !important;
      margin-left: 0 !important;
      padding: 0 0 20px 0;
      height: unset !important;
      .wrap {
        p {
          font-size: 16px;
          line-height: 30px
        }
        width: 100%;
        margin-top: 0;
        @include flex();
        flex-direction: column;
        .btn  {
          margin: 20px 0 0 0;
        }
      }
    }
  }
  
}

@media (max-width:768px){
  .regist{
    .accountwarp{
      .titleaccout{
        .accounttype{
          div{
            span{
              font-size:22px !important;
            }
          }
        }
      }
      .standac{
        .conTit{
          div{
            font-size: 16px;
          }
        }
      }
    }
  }
}

@import './mediaIphone.scss';
