@import './mixin.scss';

@mixin baseWrapTit() {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  .tit{
    font-size: 21px !important;
    margin-top: 70px;
  }
}
@media (max-width: 1200px) {
  
  .app {
    .pc {
      display: none !important;
    }
    .mb {
      display: block !important;
    }
    // ------ 交易平台开始 -------
    
    // ------ 产品交易结束 -------
    .mt4 {
      >div {
        width: 100%;
      }
      .bar {
        img {
          width: 80%;
          margin-left: 10%;
        }
      }
      .trading {
        >div {
          width: 90%;
          margin-left: 5%;
        }
        >a .downbtn {
          width: 90%;
          margin-left: 5%;
        }
        .headertitle {
          font-size: 28px !important;
          margin-bottom: 25px !important;
        }
      }
      .downloadtit {
        font-size: 28px !important;
        margin-bottom: 20px;
      }
      .macdown {
        height: unset !important;
        width: 100% !important;
        .leftimg {
          width: 100%;
          margin-left: 0;
          height: unset;
        }
        .downinfo {
          width: 90%;
          p {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
          }
          >a {
            width: 100%;
            .garybtn {
              width: 100%;
              .downfont {
                p {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .androiddown {
        background: unset;
        .warp {
          width: 90%;
          .downinfo {
            p {
              text-align: center;
            }
            a {
              .garybtn {
                width: 100%;
              }
            }
          }
        }
        .bg {
          display: block;
        }
      }
      .que {
        .tit {
          font-size: 21px !important;
        }
        .art {
          width: 90%;
          margin-left: 5%;
        }
      }
      .anq {
        padding: 20px 0;
        dd {
          width: calc(100% - 80px);
          margin: 0 auto;
          padding: 20px;
        }
      }
    }
    .leverage {
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      .tablelist {
        .headers {
          p {
            font-size: 18px !important;
          }
        }
      }
    }
    .account {
      >div {
        width: 100%;
      }
      .name {
        line-height: 30px;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .table {
        margin-top: 50px;
        .header {
          span {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
    .clearpro {
      >div:not(.banner) {
        width: 90%;
        margin-left: 5%;
      }
      >.wrap {
        .tit {
          font-size: 21px !important;
          text-align: center !important;
          margin-top: 30px;
        }
        .clearproinfo {
          width: 100%;
          >div {
            width: 100%;
          }
          >img {
            width: 100%;
          }
        }
      }
    }
    .cpt {
      .big-img {
        .center {
          padding: 5% 0 5%;
        }
      }
      >div:not(.big-img) {
        width: 90%;
        margin-left: 5%;
      }
      .introduction {
        width: 90%;
        margin: 5%;
        .center {
          width: 100%;
          .intCon {
            .fl {
              width: 50%;
            }
            .fr {
              width: 50%;
            }
          }
        }
      }
      .functi {
        .top {
          width: 100%;
        }
        .bot {
          .tabs {
            width: 100%;
          }
        }
      }
      .tabs {
        .navList {
          width: 50%;
        }
        .fr {
          width: 50%;
          .cont {
            img {
              width: 100%;
            }
          }
        }
      }
      .web {
        .webTop {
          width: 100%;
        }
      }
      .ctPc {
        .center {
          width: 100%;
        }
      }
      .ios {
        .center  {
          width: 100%;
        }
      }
      .android {
        .center {
          width: 100%;
          display: flex;
          .fl {
            .btn {
              height: unset;
            }
          }
        }
      }
      .trading {
        margin-top: -10px;
        .center {
          width: 100%;
        }
      }
    }
    // ------ 产品交易开始 -------
    // 产品交易公共部分
    >div {
      >.title {
        font-size: 24px;
        line-height: 60px;
        margin-top: 10px;
      }
      >.exp {
        display: block;
        height: auto;
        width: 100%;
        background: #fff;
        position: relative;
        .leftimg {
          width: 100%;
          margin-left: 0;
          display: block;
          background: #f8f7f7;
          >img {
            position: relative;
          }
        }
        .content {
          margin-left: 5%;
          margin-top: 30px;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: 24px;
            margin: 0px 0 0 5%; 
            line-height: unset;
            position: relative;
          }
          .line {
            float: none;
            margin: 20px 0 0 5%;
            position: relative;
          }
          .text {
            width: auto;
            padding: 0;
            margin: 10px 0 0 0;
          }
          .space {
            display: none;
          }
          >div {
            position: relative;
          }
        }
      }
    }
    .foreign{ // 外汇
      .choose {
        margin-top: 0;
        height: 570px;
        >div {
          width: 100%;
          height: 500px;
          margin-top: 90px;
          .loop {
            margin: 0;
            @include full();
            .bg1 {
              @include full();
              top: -130px;
              left: 0;
              >div {
                @include full();
                border: none;
                animation: none;
                @include flex(center, center, column);
                z-index: 1;
                position: absolute;
                span {
                  animation: none;
                  position: relative;
                  left: unset;
                  right: unset;
                  top: unset;
                  bottom: unset;
                  top: unset;
                  background: transparent;
                  line-height: 30px;
                  margin-bottom: 10px;
                  margin-top: 5px;
                  font-size: 14px;
                  br {
                    display: none;
                  }
                }
              }
            }
            .fenche {
              z-index: 0;
              position: absolute;
              opacity: .2;
              overflow: hidden;
              img {
                animation: none;
                width: 100%;
                left: unset;
                top: unset;
                margin-left: unset;
              }
              .gan {
                display: none;
              }
            }
          }
        }
      }
    }
    .metal {
      .choose {
        width: 100%;
        .tit {
          font-size: 21px !important;
          margin-top: 30px;
        }
        .clearfix {
          width: 100%;
          .melaleft {
            width: 90%;
            margin-left: 5%;
          }
          .melaright {
            width: 100%;
          }
          
          .melacenter {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .oil {
      .choose {
        width: 100%;
        margin-top: 20px;
        h1 {
          font-size: 21px !important;
          font-weight: 500;
        }
        .clearfix {
          display: flex;
          flex-direction: column;
          .rightimg {
            width: 100%;
          }
        }
      }
    }
    .conctrat {
      >.wrap {
        width: 90%;
        margin-top: 20px;
        margin-left: 5%;
        .artleft {
          .tit {
            font-size: 21px !important;
          }
          .imgright {
            width: 100%；
          }
        }
      }
      .how {
        width: 90%;
        margin-left: 5%;
        .tit {
          font-size: 21px !important;
        }
      }
    }
    .tradeindex {
      >.wrap {
        @include baseWrapTit();
      }
      .choose {
        height: unset;
        width: 100%;
        margin-bottom: 0;
        .imgcen {
          width: 100%;
          margin-bottom: 50px;
        }
        .part:nth-child(1) {
          display: none;
        }
        .part {
          float: none;
          margin: 0 auto;
        }
      }
    }
    .currency {
      .wrap {
        @include baseWrapTit();
        .currencyimg {
          ul {
            @include flex(center, center, column);
            li {
              margin-left: 0 !important;
              margin-right: 0 !important;
            }
          }
        }
      }
    }
    // ------ 产品交易结束 -------

    .apply {
      width: 100%;
      padding: 0 0 20px 0;
      height: unset !important;
      .wrap {
        p {
          font-size: 16px;
          line-height: 30px
        }
        width: 100%;
        margin-top: 0;
        @include flex();
        flex-direction: column;
        .btn  {
          margin: 20px 0 0 0;
        }
      }
    }
  }
}

@import './mediaIphone.scss';