@import './mixin.scss';
@mixin exp() {
  display: block;
  height: auto;
  width: 100%;
  background: #fff;
  position: relative;
  .leftimg {
    width: 100%;
    margin-left: 0;
    display: block;
    background: #f8f7f7;
    >img {
      position: relative;
    }
  }
  .content {
    margin-left: 5%;
    margin-top: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 24px;
      margin: 30px 0 0 5%; 
      line-height: unset;
    }
    .line {
      float: none;
      margin: 20px 0 0 5%;
    }
    .text {
      width: auto;
      padding: 0;
      margin-top: 10px;
    }
    .space {
      display: none;
    }
    >div {
      position: relative;
    }
  }
}
@media (max-width: 1200px) {
  
  .app {
    // overflow-x: hidden;
    .foreign{ // 外汇
      .title {
        font-size: 24px;
        line-height: 60px;
        margin-top: 10px;
      }
      .exp {
        height: auto;
        display: block;
        flex-direction: column;
        >div {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .metal {
      .name {
        font-size: 24px;
        line-height: 60px;
      }
      .warp {
        width: 100%;
        margin-top: 0;
        .leftimg {
          width: 100%;
          margin-left: 0;
        }
        .floatfont {
          margin-left: 5%;
          margin-top: 0;
          width: 90%;
          .title {
            font-size: 24px;
            margin: 30px 0 0 0; 
          }
          .line {
            float: none;
            margin-top: 90px;
            margin-left: 0;
          }
          .text {
            width: 100%;
            padding: 0;
            margin-top: 110px;
          }
        }
      }
      .choose {
        width: 100%;
        .tit {
          font-size: 21px !important;
          margin-top: 30px;
        }
        .clearfix {
          width: 100%;
          .melaleft {
            width: 90%;
            margin-left: 5%;
          }
          .melaright {
            width: 100%;
          }
          .melaright.mb {
            display: block;
          }
          .melaright.pc {
            display: none;
          }
          .melacenter {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .oil {
      .title {
        font-size: 24px;
        line-height: 60px;
      }
      .exp {
        @include exp();
      }
      .choose {
        width: 100%;
        margin-top: 20px;
        h1 {
          font-size: 21px !important;
          font-weight: 500;
        }
        .clearfix {
          display: flex;
          flex-direction: column;
          .rightimg {
            width: 100%;
          }
        }
      }
    }
    .conctrat {
      .title {
        font-size: 24px;
        line-height: 60px;
      }
      .exp {
        @include exp();
      }
      >.wrap {
        width: 90%;
        margin-top: 20px;
        margin-left: 5%;
        .artleft {
          .tit {
            font-size: 21px !important;
          }
          .imgright {
            width: 100%；
          }
        }
      }
      .how {
        width: 90%;
        margin-left: 5%;
        .tit {
          font-size: 21px !important;
        }
      }
    }
    .tradeindex {
      .title {
        font-size: 24px;
        line-height: 60px;
      }
      .exp {
        @include exp();
      }
      >.wrap {
        width: 90%;
        margin-top: 20px;
        margin-left: 5%;
        .tit{
          font-size: 21px !important;
          margin-top: 70px;
        }
      }
      .choose {
        height: unset;
        width: 100%;
        margin-bottom: 0;
        .imgcen {
          width: 100%;
          margin-bottom: 50px;
        }
        .part:nth-child(1) {
          display: none;
        }
        .part.pc {
          display: none;
        }
        .part.mb {
          display: block;
        }
        .part {
          float: none;
          margin: 0 auto;
        }
      }
    }
    .apply {
      width: 100%;
      padding: 0 0 20px 0;
      height: unset !important;
      .wrap {
        p {
          font-size: 16px;
          line-height: 30px
        }
        width: 100%;
        margin-top: 0;
        @include flex();
        flex-direction: column;
        .btn  {
          margin: 20px 0 0 0;
        }
      }
    }
  }
}