
<<<<<<< HEAD

@font-face
{
font-family: Oswald;
src: url('../../public/font/oswald/Oswald-Medium.ttf'),
     url('../../public/font/oswald/Oswald-MediumItalic.ttf'),
     url('../../public/font/oswald/Oswald-Regular.ttf'),
     url('../../public/font/oswald/Oswald-RegularItalic.ttf');
}

@font-face
{
font-family: Oswaldbold;
src: url('../../public/font/oswald/Oswald-Bold.ttf'),
     url('../../public/font/oswald/Oswald-BoldItalic.ttf'),
     url('../../public/font/oswald/Oswald-Demi-BoldItalic.ttf'),
     url('../../public/font/oswald/Oswald-DemiBold.ttf');
}

@font-face
{
font-family: montserrat;
src: url('../../public/font/montserrat/Montserrat-Regular.otf'),
     url('../../public/font/montserrat/Montserrat-Medium.otf');
}

@font-face
{
font-family: montserrat;
src: url('../../public/font/montserrat/Montserrat-Bold.otf'),
     url('../../public/font/montserrat/Montserrat-BoldItalic.otf');
font-weight: bold
}
@font-face
{
font-family: montserratse;
src: url('../../public/font/montserrat/Montserrat-SemiBold.otf');
}
@font-face
{
font-family: Light;
src: url('../../public/font/montserrat/Montserrat-Light.otf');
=======
*{
    box-sizing: border-box;
>>>>>>> 8498b8599e636b32f2adc667b4302c4d4c108d5d
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
    /* 默认有边距，都要清除 */
    margin: 0;
    padding: 0;
    /*字体设置*/
    font-size: 14px;
<<<<<<< HEAD
    font-family: montserrat;
=======
    font-family: "Microsoft Yahei",sans-serif;
>>>>>>> 8498b8599e636b32f2adc667b4302c4d4c108d5d
    /* 去掉列表的原点 */
    list-style: none;
    /* 默认鼠标 */
    cursor: pointer;
}
 
 
/*行内块元素*/
input,img{
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
    vertical-align: bottom; 
}
// button
button{
    cursor: pointer;
    outline: none;
}
/*行内元素*/
a,a:active,a:visited{
    /*下划线和颜色*/
    text-decoration: none;
    color: #ccc;
}
 
a:hover{
    color:#333;
}
 
textarea{
    /* 边框清零 */
    border:none;
    /* 轮廓线清零 */
    outline: none;
    /* 防止文本域被随意拖拽 */
    resize: none;
}
 
i{
    /*文字样式*/
    font-style: normal; 
}
 
table{
    /*边框合并*/
    border-collapse:collapse;
    border-spacing:0;
}
 
 
/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after{
    content:"";
    height: 0;
    line-height: 0;
    display: block;
    visibility: none;
    clear: both;
}
 
.clearfix {
    *zoom: 1;
}
 
.lf {
    float:left;
}
.rf {
    float:right;
}

